# Local build binaries
# rocksdb
tmp
node-cli/node-cli
*.pyc
*.json
/build/*
/gotools/build/*
/bin
.idea
*.iml

*.txt
*.yaml
.DS_Store
tags
.tags
.vagrant/
/build
# Emacs backup files
*~
*#
.#*
# bddtest log files
*.log
# bddtest coverage files
bddtests/coverage
*.cov
# Makefile dummy artifacts
.*-dummy
# go-carpet output files
go-carpet-coverage*
# make node-sdk copied files
sdk/node/lib/protos/*
report.xml
build/
